


        

            @foreach (var x in ViewBag.OnlineUsers)
            {
                <div class="chat-item" id="@x.ID">
                    <div class="chat-user-image">
                       <img src="~/Images/profile.jpg" />
                    </div>
                    <div class="chat-user-name">
                        <p>@x.Name</p>
                    </div>
                    <div class="chat-user-status">
                        @if (x.status == 1)
                        {
                        <p><i class="fa fa-circle online" aria-hidden="true" style="font-size:10px;color:green;"></i></p>
                        }
                        else
                        {
                        <p><i class="fa fa-circle online" aria-hidden="true" style="font-size:10px;color:black;"></i></p>
                        }
                    </div>
                </div>
               
            }


  

