<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Bootstrap core CSS -->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/Content/css/simple-sidebar.css" rel="stylesheet">
          <!-- Bootstrap core JavaScript -->

        <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/css/MyStyle.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
        <!-- Bootstrap core JavaScript -->
        <script src="/Content/vendor/jquery/jquery.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Menu Toggle Script -->
        <script>
            $(document).ready(function () {
                x = 0;
                chatWindowCount = 0;
            

                $(".chat-items").click(function (e) {
                    var txt = $(e.target).text();
                    
                    if (document.getElementById("chat"+txt)) {
                        alert('this record already exists');
                    } else {
                        $(".footer").append("<div id='chat" + txt + "'class='chatbox'></div>");
                        $("#chat" + txt).html(txt);
                    }
    
                });
                
                $(".chatbox").hover(function (e) {
                    var txt = $(e.target).text();
                    $("#chat" + txt).append("<p>aw</p>");
                    

                }, function () {


                });



                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");

                    if (x == 0) {
                        $("#chatlist").hide();
                        $("#main-content").css("width", "100%");
                        $(".footer").css("width", "100%");    
                        x = 1;
                      
                    }
                    else {
                       // $("#chatlist").delay(500).show(0)
                        $("#chatlist").animate({ width: 'toggle' }, 350);
                        $("#main-content").css("width", "100%");
                        $(".footer").css("width", "85%");
                        x = 0;
                    }

                });
            });
  
   
        </script>

    </body>
</html>
